<html>
    <head>
		<title>Persons</title>
    </head>
    <body>
    <h2>List of persons</h2>
    <table>
    	<thead>
    		<tr>
     			<th>Name</th>
     			<th>Surname</th>
     			<th>Nickname</th>
     			<th>Birth Date</th>
     			<th>Edit</th>
     			<th>Delete</th>
     		</tr>
    	</thead>
    	<tbody>
        {% for person in persons %}
            <tr>
            	<td>{{person.name}}</td>
            	<td>{{person.surname}}</td>
            	<td>{{person.nickname}}</td>
            	<td>{{person.birth_date}}</td>
            	<td><a clas="edit_picto" href="{{ path('edit_person', {'id': person.id}) }}">EDIT</a></td>
            	<td><a class="delete_picto" href="{{ path('delete_person', {'id': person.id}) }}">DELETE</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <a clas="new_picto" href="{{ path('new_person')}}">New person</a>
    </body>
</html>